#preview > div {
    background-image: url('../images/sunny.jpg');
    cursor: crosshair;
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}
.hotspot {
    position: absolute;
    border: 2px solid white;
    box-shadow: 0px 0px 10px black;
}
.hotspot > img {
    position: absolute;
    right: 0;
    height: 25px;
    width: 25px;
    padding: 5px;
    display: none;
    cursor: pointer;
}
.hotspot:hover img {
    display: block;
}

.hotspot p{
    display: none;
}

.filepickerurltext{
    
    display: none;
}
#previewButton{
    display:none;
}