html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: url("../images/debut_dark.png");
}

header {
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #2b2b2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #2b2b2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%, #2b2b2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%, #2b2b2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%, #2b2b2b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%, #2b2b2b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#2b2b2b', GradientType=0); /* IE6-9 */
    clear: both;
}

header ul {
    margin: 0;
    padding: 0 10px;
}

header ul li {
    display: inline-block;
    color: white;
    padding: 3px;
}

header ul li a i {
    margin: 0 5px;
}

header ul li a:link, header ul li a:visited, header ul li a:active {
    text-decoration: none;
    color: white;
    padding: 7px 15px;
    display: inline-block;
}

header ul li a:hover {
    background: rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 3px;
}

.preview {
    position: absolute;
    top: 50px;
    left: 300px;
    bottom: 0;
    right: 0;
}

.drop-zone {
    width: 300px;
    position: absolute;
    top: 39px;
    bottom: 0;
    overflow: auto;
}

.drop-zone > span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    display: block;
    margin: 10px;
}

.drop-zone .list {
    overflow: hidden;
    padding: 0 0 50px 0;
}

.drop-zone .list > div {
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin: 20px 20px 30px 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.drop-zone .list div .screen-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.drop-zone .list div .screen {
    width: 200px;
}

.drop-zone .list div .cross, .drop-zone .list div .thumbnails, .drop-zone .list div .name {
    position: absolute;
}

.drop-zone .list div .thumbnails {
    display: none;
}

.drop-zone .list div .cross {
    display: none;
    right: -10px;
    top: -10px;
    width: 30px;
}

.drop-zone .list div .name {
    bottom: -20px;
    width: 80px;
    display: block;
    color: rgba(255, 255, 255, .3);
    font-weight: bold;
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
}

.drop-zone .list div:hover .cross, .drop-zone .list div:hover .thumbnails {
    display: block;
}

#preview > div {
    cursor: crosshair;
}

.rectangle {
    border: 1px solid rgba(255, 0, 0, .5);
    position: absolute;
    background: rgba(255, 255, 255, .4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.hotspot {
    position: absolute;
    border: 1px solid rgba(0, 255, 0, .4);
    background: rgba(255, 255, 255, .3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.hotspot:hover {
    cursor: default;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.hotspot:hover > img {
    display: block;
}

.hotspot > img {
    position: absolute;
    right: 0;
    height: 25px;
    width: 25px;
    padding: 5px;
    display: none;
    cursor: pointer;
}

.hotspot:hover p {
    display: block;
}

.hotspot p {
    display: none;
    margin: 3px;
    font-weight: bold;
}

.screen-dropdown {
    z-index: 100;
    width: 200px;
    max-height: 500px;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border: solid 0px rgba(0, 0, 0, .5);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

}

.screen-dropdown li {
    list-style: none;
    padding: 7px 5px;
    background-color: white;

}

.screen-dropdown li:hover {
    background: rgb(14, 170, 254);
    color: white;
    cursor: pointer;
}

.canvas {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.filepickerurltext {
    display: none;
}