.new-project
{
    display: none;
    position: absolute;
    top: 39px;
    left: 100px;
    border: 1px solid black;
    background-color: #45484d;  
    padding: 20px;
    width: 150px;
    z-index: 100;
}

.new-project > input
{
    display: block;
    padding: 5px;
    margin: 10px;

}

.new-project > .createBtn
{
    background: grey;
    color: white;
    border:1px solid black;
    padding: 5px;
}

.new-project > .createBtn:hover {

    background: lightgrey;
    color: black;
}